<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>bible</string>
        <key>CFBundleName</key>
        <string>Indian Bible App</string>
        <key>CFBundleIconFile</key>
        <string>icon.icns</string>
        <key>CFBundleIdentifier</key>
        <string>bible.pyro.sh</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>NSHighResolutionCapable</key>
        <true />
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true />
    </dict>
</plist>
