<header>
    <div class="w-full flex flex-1 flex-row justify-center bg-newblack">
        <div class="flex flex-row flex-1 items-center max-w-5xl font-monospace text-white p-3">
            <a class="flex text-newyellow text-2xl pl-1 pr-4" href="/">
                pyros
            </a>
            <div class="flex flex-row flex-1 items-center text-lg">
                <sergey-link class="px-2 mx-1 hover:bg-gray-700" href="/projects">
                    projects
                </sergey-link>
                <div class="text-lg">
                    |
                </div>
                <sergey-link class="px-2 mx-1 hover:bg-gray-700" href="/work">
                    work
                </sergey-link>
                <div class="text-lg">
                    |
                </div>
                <sergey-link class="px-2 mx-1 hover:bg-gray-700" href="/ref">
                    ref
                </sergey-link>
                <div class="text-lg">
                    |
                </div>
                <sergey-link class="px-2 mx-1 hover:bg-gray-700" href="/blog">
                    blog
                </sergey-link>
            </div>
        </div>
    </div>
</header>