<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="encoding" content="utf-8">
    <meta name="description" content="Hi there, I'm Peter John, a fullstack developer from Bangalore, India.">
    <meta name="author" content="pyro.sh">
    <meta name="keywords" content="pyros2097,pyro.sh,full stack developer,bangalore,india">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
    <sergey-import src="icon" />
    <sergey-import src="fonts" />
    <sergey-import src="styles" />
    <sergey-slot name="title">
        <title>pyro.sh</title>
    </sergey-slot>
</head>

<body>
    <sergey-import src="header" />
    <main>
        <sergey-slot />
    </main>
</body>

</html>